body{
	text-align: center;
	letter-spacing: 5px;
	background:linear-gradient(to right,pink,green);
}
h1{
	font:50px 'raleway',sans-serif;
	letter-spacing: 7px;	
}
h2{
	font:20px 'bungee outline',sans-serif;
}